.movie-container {
  background-color: #202020;
  height: 250px;
  margin: auto;
}

.seats-container {
  background-color: #000000;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seats-boundary {
  width: 80%;
  height: 80%;
}

.screen {
  width: 70%;
  height: 20px;
  background-color: orange;
  text-align: center;
  margin: auto;
}

.seating-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.seat-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.seat {
  height: 20px;
  width: 20px;
  background-color: grey;
  text-align: center;
}

.seat-reserved {
  background-color: red;
}

.seat-selected {
  background-color: greenyellow;
}

.legend-container {
  background-color: #202020;
  height: 70px;
  display: flex;
  align-items: center;
}